#container {
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

/**
.lean-overlay {
	opacity: 0.8 !important;
	background-color: #3f3f3f;
}
*/

.fixed-action-btn {
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: inherit;
}

.dropify-wrapper {
	margin-top: 20px;
}

h2 {
	text-decoration: underline;
}

table {
	table-layout: fixed;
	width: 100%;
}

td {
	overflow: hidden;
}

.nav-wrapper {
	margin-left: 5%;
	margin-right: 5%;
}
