#container {
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.dropify-wrapper {
	margin-top: 20px;
}

h2 {
	text-decoration: underline;
}

table {
	table-layout: fixed;
	width: 100%;
}

td {
	overflow: hidden;
}

.nav-wrapper {
	margin-left: 5%;
	margin-right: 5%;
}
